<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel = "tests">

  <test name="Chrome_Test">
  <parameter name="browser" value="Chrome"></parameter>
    <classes>
      <class name="testngexamples.CrossBrowserTest"/>
    </classes>
  </test> <!-- Test -->

  <test name="IE_Test">
    <parameter name="browser" value="Internet Explorer"></parameter>
    <classes>
      <class name="testngexamples.CrossBrowserTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
